* {
    color: whitesmoke;
    background-color: #8b008b;
}
nav {
    display: flex;
    justify-content: space-between ;
    padding: 1em;
    border-bottom: 10px solid #008b8b;
}

.brand,
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 60px;
    margin-right: .6em;
}

.brand h2 {
    transition: .4s;
}

.brand:hover > h2 {
    color: yellow;
}

.links li {
    margin-right: 1em ;
    list-style: none;
}

.links a {
    padding: .1em 0.3em;
    border-radius: 30px;
} 

